@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;

}
h1{
    color: whitesmoke;
    font-size: 100px;
    text-align: left;
    text-transform: capitalize;
    padding: 50px 50px;
    font-family: lobster;

}
a{
    text-transform: capitalize;
}
.new{
    background: url("./images/shelf3.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
nav{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
li a:hover {
    background-color: #111;
  }
.active{
    background-color: darkcyan;
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
  }
body{
    background-color: gray;
}
.logo a{
  padding: 0%;
  margin-top: 10px;
  margin-bottom: 0;
  display: block;
  align-self: center;
}