{% extends 'main_students.html' %}

{% block content %}
{% if user.is_authenticated %}

<div class="container-fluid">
    <div>
        <centre>
            {% if searched %}
                <h1>
                    <div class="alert alert-primary" role="alert">
                        You searched for {{ searched }}
                    </div>  
                </h1>
                <br/>
                {% for book in books%}
                    <a href="{%url 'books:book_student' book.id %}">{{book}}</a>
                    <button class="btn btn-primary">borrow</button>
                    <br/>
                {% endfor %}
            {% else %}
                <h1>
                    <div class="alert alert-danger" role="alert">
                        Hey you forgot to search for a book..
                    </div>  
                </h1>
            {% endif %}
        </centre>
                    
        
    </div>


{% else %}
<h1>Please Login First</h1> <a href="/users/login_user/" style='color:black;'>Login</a>
</br>
<h1>Please Signup here</h1><a href="/users/register_user/" style='color:black;'>signup</a>
{% endif %}
</div>
{% endblock content %}