{% extends 'main_librarian.html'%}

{% block content%}
{% if user.is_authenticated %}
<div class="shadow p-4 mb-5 bg-body rounded">
    
        <h1 style='color:blue;'>Update book</h1>
    <br/><br/>
    {%if submitted %}
    Book was updated succesfully!!!

    {% else %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        {{ form.as_p}} 
        <button type="submit " class="btn btn-primary">Update</button>
    </form>

    {% endif %}
    
    

</div>
{% else %}
<h1>Please Login First</h1> <a href="/users/login_user/" style='color:black;'>Login</a>
</br>
<h1>Please Signup here</h1><a href="/users/register_user/" style='color:black;'>signup</a>
{% endif %}
{%  endblock content  %}