{% extends 'main.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% csrf_token %}
     <nav style="background-color: #ffffff;">
     </nav>
     <div class="new">
     </div>
     <h1 style="color:blue;">WELCOME TO THE  CAMPUS LIBRARY</h1>
     <img src="static/images/welcome page.jpg" class="img-fluid" alt="background" background-size="cover" 
     background-attachment=""
     min-height="100vh" >
     <h2>About Us</h2>
     <p style='color:blue;'>Created by:</br>
        KYEYUNE BEN</br>
        YOKOYASI GERALD</br>
        NALUVUBI PROSCOVIA</br>
        KWEYA ANTHONY</br>
     </p>
{% endblock content %}

